{% extends 'base.html.twig' %}

{% block title 'Votre panier' %}

{% block body %}

<div class="container">
    <div class="row text-center mt-5">
        <hr class="pt-1 mt5">
        <h2>Votre panier</h2>
        <hr class="pt-1 mt5">
        <div class="row mt-5">
            <table class="table table-light">
                <thead class="thead-light">
                    <tr>
                        <th>Lieu</th>
                        <th>Nom de l'hôtel</th>
                        <th>Description</th>
                        <th>Prix</th>
                        <th>Supprimer du panier</th>
                    </tr>
                </thead>

                <tbody>
                    {% for voyage in panier.voyage %}
                    <tr>
                        <td>{{ voyage.pays }}</td>
                        <td>{{ voyage.nomhotel }}</td>
                        <td>{{ voyage.description }}</td>
                        <td>{{ voyage.prix }}</td>
                        <td><a href="{{ path ('supprimerVoyagePanier', { id: voyage.id }) }}" type="button" class="btn bg-warning text-dark fw-bold">Supprimer</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Prix total :</th>
                        <th> {{ panier.prixTotal }}&ensp;€</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="" pt-3>
            <a href="{{ path ('app_accueil') }}" class="btn bg-primary text-white fw-bold">Retour</a>
        </div>
        <hr class="w-50 pt-1 mt-5">
    </div>
</div>
{% endblock %}
